@import "tailwindcss";

@theme{
    --color-primary1:#171821;
    --color-primary2:#21222d;
    --color-secoundary:#a9dfd8;
    --color-grayText:#87888c;
}

body{
    color: white;
}
.container{
    max-width: 1440px !important;
    margin: 0 auto;
}
.hide-scrollbar{
    scrollbar-width: none;
    -ms-overflow-style: none;
}